/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* root Css */

:root {
    --site-font: 'Work Sans', sans-serif;
    --primary-color: #FF900E;
    --white-color: #fff;
    --black-color: #131313;
    --gray-color: #727272;
    --alt-bg-color: #ff900e1a;
}


/* Reset Code */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: var(--site-font);
}

img {
    width: 100%;
    margin: 0;
}


/* Common CSS */

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}


.section__title {
    font-family: var(--site-font);
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--black-color);
}


.section__text {
    font-family: var(--site-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--gray-color);
}


.btn--primary {
    font-family: var(--site-font);
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    display: inline-block;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 20px 25px;
    border-radius: 8px;
}


/* Header Css Starts */

header {
    background-color: var(--alt-bg-color);
    padding: 50px 0;
}

nav {
    max-width: 1452px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.nav-logo {}

.logo__text {}

.nav__menu {
    display: flex;
    flex-direction: row;
    gap: 50px;

}

.nav__item {}

.nav__link {
    font-family: var(--site-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;

}



/* Header Css Ends */


/* Banner Css Starts */

.banner {
    padding: 66px 0 45px;
    background-color: var(--alt-bg-color);
}

.banner__intro-container {
    text-align: center;
    max-width: 862px;
    width: 100%;
    margin: 0 auto 50px;
}

.intro__title {
    font-family: var(--site-font);
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: var(--black-color);
    margin-bottom: 16px;
}

.intro__text {
    margin-bottom: 30px;
}

.banner__image {}

/* Banner Css Ends */



/* Team Css Starts */

.team {
    padding: 85px 0 130px;
}

.team__container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

.team__images {
    width: 54%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.team__text img {}

.team__description {
    width: 41%;
}

.team__title {
    margin-bottom: 24px;
}

.light-gray {
    font-weight: 500;
color: var(--gray-color);
}

.primary-color {
    color: var(--primary-color);
}

.team__text {
    margin-bottom: 32px;
}

/* Team Css Ends */