/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* root Css */

:root {
    --site-font: 'Work Sans', sans-serif;
    --primary-color: #FF900E;
    --white-color: #fff;
    --black-color: #131313;
    --gray-color: #727272;
    --alt-bg-color: #ff900e1a;
}


/* Reset Code */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: var(--site-font);
}

img {
    width: 100%;
    margin: 0;
}


/* Common CSS */

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}


.section__title {
    font-family: var(--site-font);
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--black-color);
}


.section__text {
    font-family: var(--site-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--gray-color);
}


.btn--primary {
    font-family: var(--site-font);
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    display: inline-block;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 20px 25px;
    border-radius: 8px;
}


/* Header Css Starts */

header {
    background-color: var(--alt-bg-color);
    padding: 50px 0;
}

nav {
    max-width: 1452px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.nav-logo {}

.logo__text {}

.nav__menu {
    display: flex;
    flex-direction: row;
    gap: 50px;

}

.nav__item {}

.nav__link {
    font-family: var(--site-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;

}



/* Header Css Ends */


/* Banner Css Starts */

.banner {
    padding: 66px 0 45px;
    background-color: var(--alt-bg-color);
}

.banner__intro-container {
    text-align: center;
    max-width: 862px;
    width: 100%;
    margin: 0 auto 50px;
}

.intro__title {
    font-family: var(--site-font);
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: var(--black-color);
    margin-bottom: 16px;
}

.intro__text {
    margin-bottom: 30px;
}

.banner__image {}

/* Banner Css Ends */



/* Team Css Starts */

.team {
    padding: 85px 0 130px;
}

.team__container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

.team__images {
    width: 54%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.team__text img {}

.team__description {
    width: 41%;
}

.team__title {
    margin-bottom: 24px;
}

.light-gray {
    font-weight: 500;
    color: var(--gray-color);
}

.primary-color {
    color: var(--primary-color);
}

.team__text {
    margin-bottom: 32px;
}

/* Team Css Ends */


/* About Css Starts */

.about {
    padding-bottom: 130px;
}

.about__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}

.about__details {
    width: 41%;
}

.about__title {
    padding: 0 20px;
    border-left: 5px solid var(--primary-color);
    margin-bottom: 24px;
}

.about__text {
    margin-bottom: 30px;
}

.features-wrapper {}

.features__item {
    background: var(--white-color);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
}

.features__title {
    font-family: var(--site-font);
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: var(--black-color);

}

.features__text {
    font-family: var(--site-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--gray-color);

}

.about__image {
    position: relative;
    width: 49%;
}

.about__image img {}

.exp_badge {
    position: absolute;
    text-align: center;
    left: -90px;
    bottom: -25px;
    padding: 42px 45px;
    background-color: var(--primary-color);
    border-radius: 8px;
}

.exp__title {
    font-family: var(--site-font);
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    color: var(--white-color);

}

.exp__test {
    font-family: var(--site-font);
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    color: var(--white-color);
}

/* About Css Ends */



/* Facts Css Starts */

.facts-section {}

.facts__container {
    max-width: 1390px;
    width: 100%;
    margin: 0 auto;
}

.facts__intro {
    margin-bottom: 100px;
}

.facts__title {
    margin-bottom: 24px;
}

.facts__text {}

.facts__info__wrappper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 125px;
    justify-content: center;
    align-items: center;
}

.fact__info-box {
    text-align: center;
    padding: 50px 40px;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.fact__info-box:hover{
    box-shadow: rgba(136, 165, 191, 0.48) 0px 6px 16px 0px, rgba(255, 255, 255, 0.8) 0 -6px 16px 0px;
    transform: translateY(-10px);
}

.fact__info-box img {
    width: 45px;
    display: inline-block;
    margin-bottom: 9px;
}

.fact__count {
    font-family: var(--site-font);
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
    margin-bottom: 5px;
}

.fact__title {
    font-family: var(--site-font);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: var(--gray-color);

}

/* Facts Css Ends */